doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', data-ng-app="appDashboard")
	
	//- Head
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		title #{name}: #{description}
		meta(http-equiv='Content-type', content='text/html; charset=UTF-8')
		meta(name='keywords', content='#{keywords}')
		meta(name='description', content='#{description}')
		link(href='/img/favicon.ico', rel='shortcut icon', type='image/x-icon')
		//- Styles
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css')
		if (process.env.NODE_ENV !== 'production')
			link(rel='stylesheet', href='https://s3.amazonaws.com/servant-cdn/css/servant-styles.min.css')
		if (process.env.NODE_ENV === 'production')
			link(rel='stylesheet', href='https://d2d0226i04jal.cloudfront.net/css/servant-styles.min.css')
		link(rel='stylesheet', href='/css/styles.css')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
		//- Google Analytics
		if (process.env.NODE_ENV === 'production')
			script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', '#{google_analytics_code}');
				ga('send', 'pageview');

	//- Body
	body(ng-cloak)

		//- Dashboard Header
		div(id="dashboard-header")
			p.st-font.st-centered(id="logo", data-ui-sref="servants") 
				a.st-link(data-ui-sref="servants") #{name}
		//- Dashboard Container
		div(data-ui-view, id="dashboard-container", data-clientid="#{client_id}", data-environment="#{environment}", data-ng-hide="s.loading")
		//- Loading Container
		div(id="loading-container", data-ng-show="s.loading")
			p.st-centered.st-font.st-animate-blink
				i.fa.fa-spinner.fa-spin
				| Loading...

		//-  If Site is in Production, use minfied assets
		if (process.env.NODE_ENV === 'production')
			//- script(type='text/javascript', src='/dist/dashboard.min.js')
		//-  If Site is not in Production, use raw assets, which make it easier for debugging
		if (process.env.NODE_ENV !== 'production')
			//- Scripts
			script(type='text/javascript', src='libs/jquery/dist/jquery.min.js')
			script(type='text/javascript', src='libs/angular/angular.min.js')
			script(type='text/javascript', src='libs/angular-resource/angular-resource.min.js')
			script(type='text/javascript', src='libs/angular-ui-router/release/angular-ui-router.min.js')
			script(type='text/javascript', src='libs/moment/min/moment.min.js')
			script(type='text/javascript', src='libs/servant-sdk-javascript/dist/servant_sdk_js.min.js')
			script(type='text/javascript', src='/js/dashboard/app.js')
			script(type='text/javascript', src='/js/dashboard/router.js')
			script(type='text/javascript', src='/js/dashboard/directives.js')
			script(type='text/javascript', src='/js/dashboard/filters.js')
			script(type='text/javascript', src='/js/dashboard/services/application.js')
			script(type='text/javascript', src='/js/dashboard/services/servant_sdk_service.js')



